extends layout 
block layout-content
    div.view.WelcomeView
        h1.Banner CodeLego
        div.Message
            div.Title
                h3 Food For Thought!
                h1 Join CodeLego now!
            span.Details CODELEGO is a nonprofit dedicated to expanding access to computer science.
            span.Details in schools and increasing participation by young men and women from other underrepresented groups.
            span.Details Our vision is that every student in every school has the chance to learn computer science.
        div.NavButtons
            a(href="/user")
                div.NavButton Log In